@use 'util' as *;

.c-button {
  background-color: $primary;
  color: #000;
  font-weight: 500;
  padding: 10px 20px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
